.leftContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 40px;
    width: 42%;
}

.leftContainer > button {
    font-size: 1.025rem;
    margin-top: 20px;
    height: 50px;
    width: 100%;
}
