.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 30px 0 0 30px;
    padding: 20px;
    /*width: 48%;*/
    align-items: center;
    /*border: 2px s;*/
}

.container img {
    border-radius: 20px;
    height: 200px;
    margin: auto;
}


.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.info > div > p {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    margin: 10px;
}

.more {
    margin-top: auto;
    width: 90%;
}

.adminPanel {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}
.adminPanel > button {
    width: auto;
    height: auto;
    border: 0;
    margin: 10px 0;
}