@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 1.025rem; /* 16px */
}

.app {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: 1px solid red;
    border-radius: 20px;
    width: 110px;
    height: 40px;
}

button :hover {

}

.content {
    background: lightcyan;
    position: relative;
    right: 0;
    width: 80%;
    padding: 50px;
}

form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    border: 1px solid gray;
    outline: 0;
    padding: 0.75rem 0.5rem;
    margin-bottom: 0.75rem;
}

form > button {
    width: 50%;
    height: 40px;
}

