.container {
    display: flex;
    /*align-items: center;*/
}

.info {
    max-width: 500px;
}

.info > p {
    margin-top: 10px;
}

.addHeader {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.addHeader > button {
    position: absolute;
    right: 0;
    width: auto;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
}